# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache
.env
.env.backup
.env.*.php
.env.local
.env.*.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependencies
vendor/
composer.lock

# Build
/public/js
/public/css
/public/mix-manifest.json
